body {
  color: #40514e;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  text-align: center;
}

.containerTop {
  width: 100%;
  height: 100vh;
  padding: 3rem 1rem;
  background-color: #150485;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.containerTop .content:nth-child(1) {
  flex-basis: 20%;
  padding: 0;
}

.containerTop .content:nth-child(2) {
  flex-basis: 60%;
  margin: 0 1rem;
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.containerTop .content:nth-child(2) h1 {
  font-size: 30px;
  line-height: 2;
}

.containerTop .content:nth-child(2) h2 {
  font-size: 25px;
  line-height: 2;
}

.containerTop .content:nth-child(2) h3 {
  font-size: 20px;
  line-height: 1.5;
}

.containerTop .content:nth-child(2) .mapIcon {
  color: red;
  font-size: 1.5rem;
  margin-right: 2px;
  align-items: flex-start;
}

.containerTop .profilePhoto {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.middleContainer {
  background-image: url('https://www.transparenttextures.com/patterns/cubes.png');
  width: 100%;
  padding: 3rem 3rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.middleContainer .content {
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  color: #000000;
}

.middleContainerBlue {
  width: 100%;
  padding: 3rem 3rem;
  background-color: #150485;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.middleContainerBlue .content {
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.middleContainerBlue .content img {
  justify-content: center;
}

.middleContainerSkills {
  background-image: url('https://www.transparenttextures.com/patterns/cubes.png');
  width: 100%;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.middleContainerSkills .icons {
  padding: 1rem;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-basis: 33.3%;
}

.middleContainerSkills .fab,
.fas {
  color: #40514e;
  font-size: 7rem;
  transition: transform 0.2s ease;
}

.middleContainerSkills .fab:hover,
.fas:hover {
  color: #150485;
  transform: scale(1.1);
}

.middleContainerSkills .local {
  width: 7rem;
  margin: 10px 25px;
}

.middleContainer .testimonials {
  height: 100vh;
  position: relative;
  font-size: 15px;
  padding: 30px 80px;
}

.progressBar {
  background-color: #150485;
  height: 4px;
  width: 100%;
  animation: grow 7s linear infinite;
  transform-origin: left;
}

.fa-quote {
  color: rgba(021, 04, 122, 0.3);
  font-size: 20px;
  position: absolute;
  top: 20px;
}

.fa-quote-right {
  left: 40px;
}

.fa-quote-left {
  right: 40px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.user .userImage {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.user .userDetails {
  margin-left: 10px;
}

.user .username {
  margin: 0;
}

.user .role {
  font-weight: normal;
  margin-top: 10px;
}

.user .userDetails a {
  text-decoration: none;
  color: #ffbb00;
  /* border-bottom: 2px solid #ffbb00;
  border-width: 30%; */
}

.user .userDetails a:hover {
  text-decoration: none;
  color: #000000;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}

@media (max-width: 700px) {
  .containerTop {
    padding: 1rem 0.5rem;
  }

  .containerTop .content:nth-child(1) {
    flex-basis: 100%;
    padding: 0;
  }

  .containerTop .content:nth-child(2) {
    flex-basis: 100%;
    padding: 5px 0px;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
  }

  .containerTop .content:nth-child(2) h1 {
    line-height: 1;
  }
  .containerTop .content:nth-child(2) h2 {
    line-height: 1.5;
  }
  .containerTop .content:nth-child(2) h3 {
    line-height: 1;
  }

  .fa-quote {
    display: none;
  }
}

@media (max-width: 500px) {
  .middleContainerSkills {
    padding: 1rem;
  }

  .middleContainerSkills .icons {
    flex-basis: 50%;
  }
}
