body {
  color: #40514e;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  text-align: center;
}

.containerTop {
  width: 100%;
  height: 100vh;
  padding: 3rem 1rem;
  background-color: #150485;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.containerTop .content:nth-child(1) {
  flex-basis: 20%;
  padding: 0;
}

.containerTop .content:nth-child(2) {
  flex-basis: 60%;
  margin: 0 1rem;
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.containerTop .content:nth-child(2) h1 {
  font-size: 30px;
  line-height: 2;
}

.containerTop .content:nth-child(2) h2 {
  font-size: 25px;
  line-height: 2;
}

.containerTop .content:nth-child(2) h3 {
  font-size: 20px;
  line-height: 1.5;
}

.containerTop .profilePhoto {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.middleContainer {
  width: 100%;
  padding: 3rem 3rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.middleContainer .content {
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  color: #000000;
}

@media (max-width: 700px) {
  .containerTop {
    padding: 1rem 0.5rem;
  }

  .containerTop .content:nth-child(1) {
    flex-basis: 100%;
    padding: 0;
  }

  .containerTop .content:nth-child(2) {
    flex-basis: 100%;
    padding: 5px 0px;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
  }

  .containerTop .content:nth-child(2) h1 {
    line-height: 1;
  }
  .containerTop .content:nth-child(2) h2 {
    line-height: 1.5;
  }
  .containerTop .content:nth-child(2) h3 {
    line-height: 1;
  }
}
